/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

//firefox
input:required, textarea:required {
  box-shadow: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;

  @media (max-width: $md ) {
      font-size: 60%;
  }

  @media (max-width: $sm ) {
    font-size: 40%;
  }

}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-dark;
  background-image: linear-gradient(to right, rgba(245, 239, 239, 0.4), rgba(238, 235, 224, .6));
  background-color: $light;
  font-size: 18px;

  @media (max-width: $xs) {
    font-size: 16px;
  }
}



/* container and row classes for responsive grid */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

@media (max-width: $xs) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $sm) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: $md) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: $lg) {
  .container {
    max-width: 1170px;
  }
}


//links
.app-link {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  color: $primary-light;
  transition: all 0.3s;

  &:hover {
    color: $primary;
  }
}

//buttons 
.app-button {
  background-color: $primary;
  transition: all 0.3s;
  color: $light;
  padding: 10px 18px 11px;
  min-width: 200px;
  margin-bottom: 3rem;
  border-radius: 3px;

  &:hover {
    background-color: $primary-hover;
  }
}


