/* text colors */
$text-dark: #101010;

/* colors */
$primary: #9e784c;
$primary-hover: #856440;
$primary-light: #c2ac95;
$light: #ffffff;
$bg-dark: #26211a;
$color-right: green;
$color-wrong: red;

/* responsive grid breakpoints*/
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;