/* Page transition */
@keyframes fadeContent {
  100% {
    opacity: 1;
  }
}

.header,
.footer {
  min-height: 70px;
  background-color: $bg-dark;
  color: $light;
}

.content {
  opacity: 0;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeContent 300ms 100ms ease-in-out forwards;
}

.header__heading {
  text-align: center;
  padding: 3rem 2rem;
  margin: 0;

  a {
    color: $light;
  }
}

.footer__info {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
