.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70rem;
  max-width: 800px;
  margin: auto;
}

.result__content-wrap {
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-dark, 0.7);
  }
}

.result__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  color: $light;
  z-index: 100;
}

.result__quiz-title {
  font-size: 1rem;
}

.result__text {
  text-align: left;
}

.result__quiz-title {
  text-align: left;
}

.result__score {
  display: flex;
  background-color: $light;
  color: $text-dark;
  padding: 1.5rem 2rem;
  margin-top: 0.5rem;
}

.result__score-digits {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  padding-right: 1rem;
}

.result__score-text {
  text-align: left;
  padding-left: 1rem;
  border-left: 0.5px solid rgba($bg-dark, 0.3);
}

.result__social {
  display: block;
  list-style: none;
  margin-top: 20px;
}

.result__social-link {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.result__repeat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  &:hover {
    svg {
      fill: rgba($bg-dark, 0.9);
    }
  }

  svg {
    margin-right: 1.5rem;
    fill: rgba($bg-dark, 0.3);
    transition: all 0.3s;
  }
}
