.loader {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.loader__image {
  height: 80px;
  width: 80px;
  position: relative;
  z-index: 1000;
}
