.quiz {
  max-width: 750px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 5rem;
}

.quiz__title {
  margin-bottom: 1.5rem;
  font-size: 3.7rem;
  line-height: 4.2rem;
  margin-top: 4rem;
  max-width: 680px;
}

.quiz__description {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
}

.quiz__app-button {
  margin-top: 3rem;
}

